*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.copertina {
  position: absolute;
  top :0;
  left: 0;
  width: 100%;
  height: 100%;
}
.copertina img {
  width: 100%;
  height: 100%;
}

.menu    {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: #081C24;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
select {
  margin-top: 100px;
}
.menu h2 {
  color: red;
  font-size: 1.9em;
}
.wrap-films {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: grey;
}

.entry {
  border: 1px solid white;
  width: 15%;
  height: 300px;
  margin: 20px ;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  font-size: 0.7em;
}
.entry h1,h2,h3,h4 {
  padding: 5px;
}
 p {
  overflow: hidden;
  height: 25%;
}
.entry h3 img {
  width: 40px;
}
.no-results {
  width: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  background-color: red;
  justify-content: space-around;
}
.entry:hover .copertina {
  display: none;
}
.entry:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.entry ul {
  list-style: none;
}
.copertina{
  background-image: url(../img/no-cover-png-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.entry a {
  font-size: 1.2em;
  text-decoration: none;
  vertical-align: middle;
  line-height: 30px;
  display: inline-block;
  margin: 10px 0 ;
  height: 30px;
  width: 80px;
  border-radius: 100%;
  background-color: lightblue;
}
.entry p {
display: none;
}
.info {
  position: absolute;
  z-index: 3;
  top : 10%;
  left: 10%;
  width: 80%;
  height: 600px;
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info h2,p{
  width: 90%;
}
.info ul {
  list-style: none;
}
.info li {
  margin: 10px;
}

 .fa-times {
   color: grey;
  font-size: 1.8em;
  position: fixed;
  right: 120px;
  cursor: pointer;
  margin: 5px;
}
